CREATE TABLE comment (id BIGINT PRIMARY KEY AUTO_INCREMENT,canting_id BIGINT NOT NULL COMMENT '餐厅ID',user_id BIGINT NOT NULL COMMENT '用户ID',user_name VARCHAR(50) NOT NULL COMMENT '用户名',content TEXT NOT NULL COMMENT '评论内容',create_time DATETIME NOT NULL COMMENT '创建时间',status TINYINT NOT NULL DEFAULT 0 COMMENT '状态：0-正常，1-已删除',INDEX idx_canting_id (canting_id),INDEX idx_user_id (user_id),INDEX idx_create_time (create_time)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='餐厅评论表';
